<ul>
    <li><a href="{{ path('page_index') }}">Page</a></li>
    <li><a href="{{ path('block_index') }}">Block</a></li>
    <li><a href="{{ path('language_index') }}">Langue</a></li>
    <li><a href="{{ path('template_index') }}">Template</a></li>
</ul>